{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me Receipts</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Due Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for receipt in receipt_list %}
                    <td> {{receipt.vendor}} </td>
                    <td> {{receipt.total}} </td>
                    <td> {{receipt.tax}} </td>
                    <td> {{receipt.date|date:"m-d-Y" }} </td>
                    <td> {{receipt.category.name}} </td>
                    <td> {{receipt.account.name}} </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </main>
</body>

</html>